.sideNavButtonPage {
  margin-top: 10px;

  @media @desktop-up {
    .container {
      max-width: 600px;
      margin: 0;
    }
    .Form-group {
      width: 60%;
    }

    .Form-group:last-child {
      margin-bottom: 30px !important;
    }
  }

  fieldset {
    margin-bottom: 10px;
  }
}
